.events {
	margin-top:5vh;
	margin-bottom: 5vh;
}

.event-card {
	margin-bottom: 30px;
	background-color: white;
	border-left: 15px solid #A80505;
}

.event-title {
	padding-right: 30px;
}

.divider {
	border: 5px solid #A80505;
}

.time_date_header {
	color: #808080;
}
